body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  background-image: url(assets/background3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  padding-left: 70px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
  transition: padding-left 0.5s ease;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.foreground-container {
  flex: 1;
  padding-left: 100px;
  padding-top: 40px;
}

.foreground {
  transform: translateZ(-5px) scale(0.75);
  position: relative;
}

.background,
.foreground {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-content {
  flex: 1;
  padding-right: 20px;
  padding-left: 200px;
  padding-top: 200px;
  color: #fffdd0;
}

.title {
  font-size: 7rem;
  text-shadow: 0 0 5px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2rem;
}

section {
  font-size: 1rem;
  padding: 2rem;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  background-color: #567f6c;
  color: #fffdd0;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.navbar a {
  display: block;
  padding: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  writing-mode: vertical-lr;
  color: #fffdd0;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 1em;
}

.navbar a:hover {
  background-color: #fffdd0;
  color: #567f6c;
}

.about-container {
  padding: 2rem;
  color: #fffdd0;
  max-width: 800px;
  margin: 0 auto;
}

.about-textbox {
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006a79;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.center-text {
  text-align: center;
}

h2 {
  max-width: 800px;
}

.wrapper.about-active {
  padding-left: 0;
}

.portfolio-container {
  padding: 2rem;
  color: #fffdd0;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 1500px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #567f6c;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

.portfolio-container h2 {
  text-align: center;
}

.portfolio-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 30%;
  background-color: #006a79;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  max-height: 300px;
  max-width: 300px;
}

.card h3 {
  color: #fffdd0;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  max-height: 150px;
  max-width: 150px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
