body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
  transition: padding-left 0.5s ease;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: absolute;
}

.foreground-container {
  flex: 1;
  padding-left: 20px;
  padding-top: 40px;
}

.foreground {
  transform: translateZ(-5px) scale(0.75);
  position: relative;
}

.background,
.foreground {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-content {
  flex: 1;
  padding-right: 20px;
  padding-left: 200px;
  padding-top: 90px;
  color: #fffdd0;
}

.title {
  font-size: 7rem;
  text-shadow: 0 0 5px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2rem;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: black;
  color: white;
}

/* .navbar {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  background-color: #556B2F;
  color: #fffdd0;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.navbar a {
  display: block;
  padding: 15px;
  writing-mode: vertical-lr;
  color: #fffdd0;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 1em;
}

.navbar a:hover {
  background-color: #fffdd0;
  color: #556B2F;
} */
