body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  max-width: 100vw;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  background-image: url(assets/background3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}


html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  padding-left: 70px;
}

footer {
  text-align: center;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffdd0;
}
/* //////// INTRO SECTION //////// */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
  transition: padding-left 0.5s ease;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.foreground-container {
  flex: 1;
  padding-left: 100px;
  padding-top: 40px;
}

.foreground {
  transform: translateZ(-5px) scale(0.75);
  position: relative;
}

.background,
.foreground {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-content {
  flex: 1;
  padding-right: 20px;
  padding-left: 200px;
  padding-top: 200px;
  color: #fffdd0;
}

.title {
  font-size: 7rem;
  text-shadow: 0 0 5px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2rem;
}

section {
  font-size: 1rem;
  padding: 2rem;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////// NAVBAR //////// */

.navbar {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  background-color: #567f6c;
  color: #fffdd0;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.navbar a {
  display: block;
  padding: 10px;
  padding-top: 45px;
  padding-bottom: 45px;
  writing-mode: vertical-lr;
  color: #fffdd0;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 1em;
}

.navbar a:hover {
  background-color:#024542;
  color: #fffdd0;
  border-radius: 5px;
}

/* //////// ABOUT SECTION //////// */

.about-container {
  padding: 2rem;
  top: 100vh;
  color: #fffdd0;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 50px;
}

.about-textbox {
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006a79;
  padding: 20px;
  border-radius: 10px;
  max-width: 850px;
  margin: 0 auto;
  width: 100%;
  font-size: 1.5rem;
}

.center-text {
  text-align: center;
  color: #fffdd0;
}

h2 {
  max-width: 800px;
}

.wrapper.about-active {
  padding-left: 0;
}

.about-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* //////// PORTFOLIO SECTION //////// */

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #567f6c;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 200px;
}

.portfolio-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #fffdd0;
}

.front {
  transform: rotateX(0deg);
}

.back {
  transform: rotateX(180deg);
}

/* //////// RESUME SECTION //////// */

.resume-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006a79;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 150px;
}

.download-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button {
  width: auto;
  margin: 20px 0 0 0;
  background-color: #024542;
  color: #fffdd0;
  transition: background-color 0.3s, transform 0.3s;
  padding: 15px;
  font-size: large;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.download-button:hover {
  background-color: #567f6c;
  color: #fffdd0;
  transform: scale(1.1);
}

/* //////// CONTACT SECTION //////// */

.contact-container {
  position: absolute;
  background-color: #567f6c;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.icon-container {
  display: flex;
  justify-content: space-around;
}

.icon {
  max-width: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.5);
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"],
.contact-us-form button {
  max-width: 500px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #006a79;
}

.contact-us-form textarea {
  width: 100%;
  height: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border: 3px solid #024542;
  margin: 16px 0;
  padding: 10px;
  border-radius: 8px;
}

.contact-us-form .input-row input[type="text"],
.contact-us-form .input-row input[type="email"] {
  border: 3px solid #024542;
  margin: 16px 0;
  padding: 10px;
  border-radius: 8px;
}

.contact-us-form .input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contact-us-form button {
  width: auto;
  margin: 20px 0 0 0;
  background-color: #024542;
  color: #fffdd0;
  transition: background-color 0.3s, transform 0.3s;
  padding: 15px;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-us-form button:hover {
  background-color: #006a79;
  color: #fffdd0;
  transform: scale(1.2);
}
.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

input::placeholder,
textarea::placeholder
{
  text-align: center;
}

/* //////// RESPONSIVE STYLING //////// */

@media only screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    height: 60px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px; 
    writing-mode: horizontal-tb;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
  }

  .navbar a {
    padding: 10px;
    height: 40px;
    padding-top: 20px; 
    padding-bottom: 10px; 
    writing-mode: horizontal-tb;
    margin: 0 10 px;
    font-size: small;
  }

  .foreground-container {
    margin-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .background {
    background-size: contain;
  }

  .text-content {
    margin-top: 130px;
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 100px;
    
  }

  .title {
    font-size: 3rem;
    color: #024542;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .about-container {
    height: 100vh;
  }

  .about-textbox {
    height: 100vh;
    max-width: 400px;
    font-size: medium;
  }

  .portfolio-container {
    max-width: 400px;
    max-height: 4000px;
  }

  .resume-container {
    height: 100vh;
    max-width: 400px;
  }

  .contact-container {
    height: 100vh;
    max-width: 400px;
  }

  .download-button {
    font-size: small;
  }

  .contact-us-form button {
    font-size: small;
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .about-icon-container {
    max-width: 100%;
  }
}

